<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/lib/jquery.js"></script>
  </head>
  <body>
    <div class="sentences">

    </div>
    <div style="clear:both"></div>
    <div class="rotating-sentence">
    
    </div>
    <script src="/javascripts/words.js"></script>
  </body>
</html>