body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: silver;
}

a {
  color: #00B7FF;
}


.sentence {
  .word {
    padding: 0 .5em 0 .5em;
    float:left;
  }

  //height: 3em;

  .aligned & {
    position: relative;
    .word {
      //position: absolute;
      display: inline-block;
      //text-align: center;
    }
  }
}

.rotating-sentence{
    position: relative;
    margin-top: 100px;
    
    .words {
        padding: 0 .5em 0 .5em;
        display:inline-block;
        height: 1.3em;
        overflow: hidden;
        outline: solid 1px black;

        .holder {
            -webkit-transform:translate3d(0,0,0);
            position: relative;
            display: block;
            //todo set the height
            -webkit-transition: 1s;
            
            .word {
              display:block;
              //todo set the height
              //todo set the top
              position: absolute;
              left:0;right:0;
              &.highlighted {
                -webkit-transition: .5s;
                background-color: #fff967;
                text-align: center;
              }
            }
        }
    }
} 