body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: silver;
}
a {
  color: #00B7FF;
}
.sentence .word {
  padding: 0 .5em 0 .5em;
}
.aligned .sentence {
  position: relative;
}
.aligned .sentence .word {
  display: inline-block;
}
.rotating-sentence {
  position: relative;
  margin-top: 100px;
}
.rotating-sentence .words {
  padding: 0 .5em 0 .5em;
  display: inline-block;
  height: 1.3em;
  overflow: hidden;
}
.rotating-sentence .words .word {
  display: block;
}
