body {
  margin:0;padding:0;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: silver;
  overflow:hidden;
  -webkit-overflow-scrolling:auto;
}

#viewport {
    -webkit-overflow-scrolling:auto;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    overflow:hidden;
    
}

a {
  color: #00B7FF;
}


.sentence {
  .word {
    padding: 0 .5em 0 .5em;
    float:left;
  }
  clear:both;
  border-bottom: solid 1px black;


  .aligned & {
    display:none;
    position: relative;
    .word {
      display: inline-block;
    }
  }
}

.flash {
    background-color: green;
    color: blue;
}

.rotating-sentence{
    position: relative;
    margin-top: 100px;
    
    .words {
        padding: 0;
        display:inline-block;
        overflow: hidden;
        //outline: solid 1px black;
        
        &.highlighted {
            background-color: #fff967;
            .holder {
                -webkit-transition: .5s;
                text-align: center;
            }
        }

        .holder {
            -webkit-transform:translate3d(0,0,0);
            position: relative;
            display: block;
            //todo set the height
            -webkit-transition: 1s;
            
            .word {
              padding: 0 .5em;
              display:block;
              //todo set the height
              //todo set the top
              position: absolute;
              left:0;right:0;
            }
        }
    }
} 